<div class="footer">
    <div class="spacer1">
      <code
        >Heladería XtasisTropical <br />
        Fecha de Creación: 28 DE FEBRERO DE 2014 <hr>
        Administrador: <br />
        IBANIO GONZÁLEZ SÁNCHEZ <br />
      </code>
    </div>
  
    <img class="QR" src="{{urlasset}}/img/logoverde.png" alt="Logo XtasisTropical" />
  
    <div class="spacer2">
  
      <code
        >Horario: <br />
        TODOS DIAS DE 9:00 am -- 10:00 PM <hr>
        Único Autor y Diseñador General del sitio: <br />
        ALBERTO CARRIÓN GONZÁLEZ <br />
        
      </code>
  
    </div>
  </div>
  