<div class="container">
    <!--Sub-elemento 1-->
    <div class="SubContainer">
      <div>
        <img src="../../assets/IMG/BIGHelado.png" alt="" class="container-img" />
      </div>
      <div>
        <details>
          <summary>
            <H1>Sobre su Creador</H1>
            <p>
              Puede conocer más acerca de
              <strong>IBANIO GONZÁLEZ SÁNCHEZ</strong> y su visión como hombre de
              negocio y empresario.
            </p>
  
            <h5 class="leermas"><img src="../../assets/IMG/ICONS/sociales/Derecha2.png" alt="Pinche acá para ver más">  Ibanio González Sánchez</h5>
          </summary>
  
          <p>
            Es un hombre exitoso que mantienen el equilibrio enfocando su mente en
            el resultado final, no en el proceso de llegar al final. Tiene la
            característica de ser muy constante para alcanzar su objetivo. No cesa
            hasta llegar al final a pesar de las dificultades que le pueden
            aparecer. Como hombre exitoso tiene una fuerte voluntad de triunfar y
            de lograr cosas en la vida. Entre ellas Heladería XtasisTropical es un
            sueño realizado que está llevando a su máximo esplendor.
          </p>
        </details>
      </div>
    </div>
    <div class="SubContainer" style="background-image: url('../../assets/IMG/Fondo_Helados.jpg'); background-attachment: fixed; background-size: cover;">
      <div class="SubContainerQR">
        <img
          alt="Escanee el Código QR para agregar a contactos"
          src="../../assets/IMG/QR.png"
          width="30%"
        />
  
  
  
        <p>Escanee el Código QR para agregar a contactos</p>
  
  
  
      </div>
    </div>
    <!--Sub-elemento 2-->
    <div class="SubContainer" >
  
      <ul class="ulSociales">
        
        <a href="https://www.facebook.com/Xtasis-Tropical-110765021475530" target="_blank">
          <li>   
            <img src="../../assets/IMG/ICONS/sociales/facebook1.svg" alt="XtasisTropical en Facebook">
            <em>Facebook</em>
          </li>
        </a>
  
        <a href="https://twitter.com/XtasisTropical" target="_blank">
          <li>
            <img src="../../assets/IMG/ICONS/sociales/Twitter2.svg" alt="XtasisTropical en Twitter">
            <em>Twitter</em>      
          </li>
        </a>
  
        <a href="https://www.instagram.com/xtasis_tropical/" target="_blank">
          <li>
            <img src="../../assets/IMG/ICONS/sociales/Instagram2.svg" alt="XtasisTropical en Instagram">
            <em>Instagram</em>
          </li>
        </a>
  
        <a href="https://www.youtube.com/channel/UChfgJpud04vIXdxXQ8vUbdQ" target="_blank">
          <li>
            <img src="../../assets/IMG/ICONS/sociales/Youtube1.png" alt="XtasisTropical en YouTube">
            <em>YouTube</em>
          </li>
        </a>
  
        <a href="https://wa.me/+5355168284" target="_blank">
          <li>
            <img src="../../assets/IMG/ICONS/sociales/Whatsapp1.svg" alt="XtasisTropical en Whatsapp">
            <em>Whatsapp</em>
          </li>
        </a>
  
        <a href="https://t.me/@5354609996" target="_blank">
          <li><img src="../../assets/IMG/ICONS/sociales/Telegram1.svg" alt="XtasisTropical en Telegram">
            <em>Telegram</em>
          </li>
        </a>
  
        <a href="mailto:heladeriaxtasistropical@gmail.com?subject=Le%20contacto%20por...">
          <li><img src="../../assets/IMG/ICONS/sociales/Email2.png" alt="Correo a">
            <em>Email</em>
          </li>
        </a>
  
      </ul>
  
  
      
    </div>
  
    
  
  
  </div>
  