<div class="toolbar" role="banner">
    <img
      id="Logo"
      width="160"
      alt="XtasisTropical Logo"
      src="https://albertocgcarriongonzalez.github.io/xtasistropical/assets/img/logoverde.png"
    />
    
    <div class="spacer">
  
      <h1>
        Bienvenido <br />
        a <br />
        Heladería <br />
        {{ title }}
      </h1>
    </div>
  
    <div class="sociales">
      <a
        aria-label="XtasisTropical on Facebook"
        target="_blank"
        rel="noopener"
        href="https://www.facebook.com/Xtasis-Tropical-110765021475530"
        title="XtasisTropical on Facebook"
      >
        <img src="../../assets/img/icons/sociales/facebook1.svg" alt="" id="facebook-logo" />
      </a>
      <a
        aria-label="XtasisTropical en Twitter"
        target="_blank"
        rel="noopener"
        href="https://twitter.com/XtasisTropical"
        title="XtasisTropical en Twitter"
      >
        <img src="../../assets/img/icons/sociales/twitter2.svg" alt="" id="twitter-logo" />
      </a>
      <a
        aria-label="XtasisTropical en YouTube"
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/channel/UChfgJpud04vIXdxXQ8vUbdQ"
        title="XtasisTropical en YouTube"
      >
        <img src="../../assets/img/icons/sociales/youtube1.png" alt="" id="youtube-logo" />
      </a>
  
      <a
        aria-label="XtasisTropical en Whatsapp"
        target="_blank"
        rel="noopener"
        href="https://wa.me/+5355168284"
        title="XtasisTropical en Whatsapp"
      >
        <img src="../../assets/img/icons/sociales/whatsapp1.svg" alt="" id="youtube-logo" />
      </a>
  
      <a
        aria-label="XtasisTropical en Instagram"
        target="_blank"
        rel="noopener"
        href="https://www.instagram.com/xtasis_tropical/"
        title="XtasisTropical en Instagram"
      >
        <img src="../../assets/img/icons/sociales/instagram2.svg" alt="" id="youtube-logo" />
      </a>
  
      <a
        aria-label="Correo de XtasisTropical"
        target="_blank"
        rel="noopener"
        href="mailto:heladeriaxtasistropical@gmail.com?subject=Le%20contacto%20por..."
        title="Correo de XtasisTropical"
      >
        <img src="../../assets/img/icons/sociales/email2.png" alt="" id="youtube-logo" />
      </a>
  
  
    </div>
  </div>
  