<div class="navBar">
    <ul>
      <a href="home" routerLinkActive="MyClassActiveLink" routerLink="home"
        ><li>Inicio</li></a
      >
      <a href="Prod-Serv" routerLinkActive="MyClassActiveLink" routerLink="Prod-Serv"
        ><li>Productos y Servicios</li></a
      >
      <a href="Menu" routerLinkActive="MyClassActiveLink" routerLink="menu"
        ><li>Carta Menú</li></a
      >
      <a href="empresa" routerLinkActive="MyClassActiveLink" routerLink="empresa"
        ><li>Empresa</li></a
      >
      <a href="contacto" routerLinkActive="MyClassActiveLink" routerLink="contacto"
        ><li>Contacto</li></a
      >
    </ul>
  </div>
  
  <div role="banner2" style="width: 100%;">
    <audio controls>
      <source src="{{urlasset}}/media/bienvenida.mp3" type="audio/mpeg">
      Su navegador no soporta este elemento. Navegador recomendado Google Chrome.
    </audio>
  </div>