<div>
    <H1>Sitio en Mantenimiento</H1> <br>

    <h3>
        Pronto rehabilitaremos el sitio! <br> 
    

    
        Esto no quiere decir que la Heladería XtasisTropical deje de brindar servicio, pues puede continuar recibiendo nuestro servicio de la mejor calidad mediante su presencia en nuestro local en (Calle 21 #4217 entre Calle 42 y Calle 44, Municipio Playa, La Habana, Cuba). También siguen disponibles nuestras redes sociales: 
    </h3>

    <h3><a href="contacto" ><ul><li>Contacto</li></ul></a></h3>

    <h3>
        Puede contactar directamente por Whatsapp mediante este vínculo <br>
        <a href="https://wa.me/+5355168284">Whatsapp</a>
    </h3>

</div>