<h1>Sitio en Mantenimiento</h1>
<h3>Pronto rehabilitaremos el Sitio</h3>


<!--

<div class="container">
    <img
      src="{{urlasset}}/img/logo.png"
      alt="Logo XtasisTropical"
      class="container-img"
    />
  
    <p>
      La satisfacción personal de cada trabajador por ofrecerle al cliente un servicio de la mejor calidad, permite a la micro empresa privada <strong>Heladería XtasisTropical</strong> , con sede en
      <code
        >Calle 21 #4217, entre Calle 42 y Calle 44, Municipio Playa, La Habana,
        Cuba</code
      >
      , brindar productos y servicios a la altura de la más exquisita exigencia del paladar. El prestigio y la notoriedad social de la heladería y del helado pasan necesariamente por la construcción de un relato. <span><h1>¡Disfrute usted mismo!  ¡No dejes que se lo cuenten!</h1></span> 
    
    </p>
  
    <br>
  
  
  </div>
  
  
  <div class="content">
    //  CARD 1
    
    <div class="card">
      <div><img src="{{urlasset}}/img/postcard1.jpg" alt="" /></div>
      <div>
        <H3 class="card-title">Sobre Nuestros Productos</H3>
        <p>
          Ofrecemos una variedad de más de 25 sabores <span>tropicales</span> para
          el degustar de su paladar.
        </p>
      </div>
      <div>
        <h5><a routerLink="../Prod-Serv"> Conozca más</a></h5>
      </div>
    </div>
  
    // CARD 2 
    <div class="card">
      <div><img src="{{urlasset}}/img/postcard2.jpg" alt="" /></div>
      <div>
        <details>
          <summary>
            <H3>Sobre XtasisTropical</H3>
            <p>
              Idea puesta en práctica por <b>IBANIO GONZÁLEZ SÁNCHEZ</b> sobre la
              creación de una Heladería con sabores tropicales variados de la
              mejor calidad.
            </p>
  
             <h6 class="leermas"> Visión  y Misión</h6>
  
          </summary>
  
          <h2>MISIÓN:</h2>
          <p>
            Somos un grupo de personas emprendedoras capacitadas y de experiencia,
            comprometidas con el resultado del producto y servicio brindado,
            destinados a la elaboración de productos lácteos de la mejor calidad,
            cuyo objetivo principal es la satisfacción del cliente.
          </p>
  
          <h2>VISIÓN</h2>
          <p>
            Nos asentamos en el marco de nuestro plan de trabajo para alcanzar un
            crecimiento sostenible y de calidad para los diferentes ámbitos:
            <b>Trabajador:</b>
            <span>
              Ser un ejemplo para que las personas se sientan inspiradas a dar
              cada día lo mejor de sí mismas.
            </span>
            <br />
            <b>Lugar de trabajo:</b>
            <span>
              Ser un confortable ambiente de trabajo que nos permita cumplir a
              cabalidad con nuestra misión.
            </span>
            <br />
            <b>Producto:</b>
            <span>
              Ofrecer una diversa oferta de productos de calidad que compensen los
              deseos y necesidades de los consumidores.
            </span>
            <br />
            <b>Servicio:</b>
            <span>
              Desplegar una red de trabajo eficiente y duradera que sea
              distinguible dentro de la sociedad
            </span>
            <br />
            <b>Nación:</b>
            <span>
              Ser un ciudadano comprometido que marque la diferencia para ayudar a
              construir y apoyar comunidades sostenibles.
            </span>
            <br />
            <b>Beneficio:</b>
            <span>
              Garantizar un rendimiento en ascenso cumpliendo con las
              responsabilidades generales a la cual estaremos sometidos.
            </span>
            <br />
            <b>Productividad:</b>
            <span> Ser un colectivo de trabajo eficiente y dinámico.</span>
          </p>
        </details>
      </div>
      <div>
        <h5><a routerLink="../empresa"> Conozca más</a></h5>
      </div>
    </div>
  
    // CARD 3
    <div class="card">
      <div><img src="{{urlasset}}/img/postcard3.jpg" alt="" /></div>
      <div>
        <H3>Contáctanos</H3>
        <p>
          XtasisTropical en la red digital siempre marcando la diferencia. Síganos
          en redes sociales donde podrá conocer más acerca de nuestros servicios.
        </p>
      </div>
      <div>
        <h5><a routerLink="../contacto"> Visítenos</a></h5>
      </div>
    </div>
  </div>
  
  <div class="container">
  
  <div>
    <H5> ¿Que transmite una heladería?</H5>
  <code>
  La razón, dicen los expertos, es que los helados funcionan como exorfinas en el sistema nervioso, como opiáceos que proporcionan sensación de bienestar y contribuyen a reducir el estrés y a modular la ansiedad, así que tomarlos se relaciona con una situación de relajación que crea nuevas ganas de consumirlo</code>
  </div>
  
  </div>

  -->